.hour-rows {
  display:flex;
  flex-direction: column;
}

.hour-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.hour-row {
  margin-top: 5px;
}

.name {
  flex-grow: 2;
  padding: 10px;
  width: 10em;
}

.new-day .day {
  font-size: xx-small;
}

.hour {
  width: 2em;
  flex-grow: 1;
  border: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}

.hour.end {
  border-right: 1px solid red;
}

.hour.start {
  border-left: 1px solid red;
}
