.hour-rows {
  display:flex;
  flex-direction: column;
}

.hour-columns {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.hour-row {
}

.name {
  flex-grow: 2;
  padding: 10px;
  width: 15em;

  flex-direction: column;
  display: flex;
  justify-content: center;
  text-align: right;
}

.continent {
  font-size: small;
}

.new-day .day {
  font-weight: bold;
  text-align: center;
}

.hour {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2em;
  padding: 10px;
}
