@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body {
  font-family: 'Work Sans', sans-serif;
}

table.strips {
  border-spacing: 0px 10px;
  width: fixed;
}

.strips .name {
  padding-right: 5px;
  width: 6%;
}

.strips .name .continent {
  font-size: x-small;
}

.strips td.name {
  background: #ccc;
}

.strips td {
  background: #eee;
  text-align: center;

  padding-top: 4px;
  padding-bottom: 4px;
}

.time .minutes,.meridiem,.month {
  font-size: x-small;
  color: #999;
}

.first-day .date {
  font-size: x-small;
  color: #555;
}

.strips td.day {
  width: 3%;
}

td.new-day {
  background: #ddd;
}

td.first-day {
  background: pink;
  width: 6%;
}
